*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #F8F8F8;
  padding: 3rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* a little bounce at end */
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* a little bounce at end */
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #F8F8F8;
  padding: 3rem; }
  body a {
    color: #909090; }
  body a:hover {
    color: #f29b1b; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-color: #6c3467;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  padding: 0 2rem;
  box-shadow: 2rem 1rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 3px; }
  @media screen and (max-width: 600px) {
    .heading-secondary {
      font-size: 3rem; } }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700; }

.u-center-text {
  text-align: center; }

.u-align-left {
  float: left; }

.u-align-right {
  float: right; }

.u-text-italic {
  font-style: italic; }

.u-dark-text {
  color: black; }

.u-white-text {
  color: #fff; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.links {
  margin-top: 2rem;
  color: #fff; }

.links a {
  margin-right: 2rem; }

.project-card {
  position: relative;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(2, 15rem);
  grid-template-rows: min-content 38rem min-content;
  justify-items: center;
  transition: transform .3s;
  color: #F8F8F8;
  font-weight: bold;
  padding: 2rem; }
  .project-card:hover {
    transform: translateY(-1rem) scale(1.03); }
  .project-card__title {
    grid-column: 1 / span 2;
    border-bottom: 1.5px solid #6c3467;
    color: #F8F8F8;
    padding: 1rem; }
  .project-card__content {
    width: 90%;
    margin-bottom: 5rem;
    padding: 1rem;
    grid-column: 1 / span 2; }
  .project-card__link {
    display: block;
    background-color: #F8F8F8;
    color: #6c3467;
    border-radius: 3px;
    text-decoration: none;
    padding: 1rem;
    transition: transform .5s;
    width: 40%;
    position: absolute;
    bottom: 1rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .project-card__link:hover {
      transform: translateY(-0.5rem); }
    .project-card__link--project {
      left: 2rem; }
    .project-card__link--code {
      right: 2rem; }
    .project-card__link--notactive {
      background-image: linear-gradient(to left bottom, rgba(241, 196, 128, 0.8), rgba(242, 155, 27, 0.8));
      pointer-events: none; }

.skill-card {
  background-color: #f7f7f7;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  text-align: center;
  transition: transform 1s;
  color: #777;
  border-radius: 3px;
  overflow: hidden; }
  .skill-card__title {
    background-image: linear-gradient(to left bottom, rgba(241, 196, 128, 0.8), rgba(242, 155, 27, 0.8));
    margin-bottom: 2rem;
    color: #6c3467; }
  .skill-card__items {
    list-style: none;
    width: 80%;
    margin: 0 auto; }
    .skill-card__items li {
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #E0E0E0; }
  .skill-card h3 {
    padding: .5rem; }
  .skill-card:hover {
    transform: translateY(-1rem) scale(1.03); }

.footer {
  /* Not sure why but this doesn't center the text */
  justify-content: center;
  background: #6c3467;
  color: #fff;
  width: 100%;
  padding: 2rem;
  transition: transform 2s; }
  .footer__text {
    text-align: center; }
  .footer__icon:hover {
    transform: translateY(-0.5rem) scale(1.03); }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(108, 52, 103, 0.2), rgba(108, 52, 103, 0.2)), url(../img/pexels-nout-gons-248159.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin-bottom: 8rem; }
  .header__title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    animation: moveInLeft 2s ease-out;
    margin-top: 3rem;
    margin-bottom: 8rem; }
    @media screen and (max-width: 600px) {
      .header__title {
        font-size: 4rem; } }
  .header__role {
    font-size: 4rem;
    animation: moveInRight 2s ease-out; }
    @media screen and (max-width: 600px) {
      .header__role {
        font-size: 3rem; } }
  .header__interests {
    font-size: 1.5rem; }
    @media screen and (max-width: 600px) {
      .header__interests {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden; } }
  .header__text-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: black;
    padding-right: 2rem;
    top: 82vh;
    right: 1rem;
    left: 50vw;
    font-style: italic;
    text-align: right; }
    @media screen and (max-width: 600px) {
      .header__text-box {
        padding-top: 2rem; } }
  .header__quote {
    display: block; }
    @media screen and (max-width: 600px) {
      .header__quote {
        font-size: 1.4rem; } }
  .header__quote--sub {
    display: block; }
  .header__quote--author {
    display: block;
    font-style: normal;
    font-weight: 700; }

.section-projects {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 4rem;
  padding-bottom: 6rem; }
  .section-projects__content {
    background-image: linear-gradient(to right bottom, #6c3467, rgba(142, 69, 136, 0.9)), url(../img/pexels-pixabay-417174.jpg);
    clip-path: polygon(0 30vh, 100% 0, 100% 100%, 0 100%);
    background-size: cover;
    background-position: top; }
  .section-projects__cards {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
    grid-template-rows: repeat(2, min-content);
    justify-content: center;
    grid-gap: 2em;
    padding: 20em 10em 10em; }

.section-skills {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 4rem;
  padding-bottom: 6rem; }
  .section-skills__content {
    background-image: linear-gradient(to bottom right, rgba(142, 69, 136, 0.9), #6c3467), url(../img/jong-marshes-79mNMAvSORg-unsplash.jpg);
    background-size: cover;
    background-position: top; }
  .section-skills__cards {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 4em;
    justify-content: center;
    align-content: flex-start;
    padding: 10rem; }

.section-education {
  color: #6c3467;
  font-size: 1.7rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .section-education p {
    text-align: right; }
  .section-education::after {
    content: "";
    display: table;
    clear: both; }

.section-links a {
  color: #fff;
  text-decoration: none; }

.section-links ul li {
  display: inline-block; }
  .section-links ul li:not(:last-child) {
    margin-right: 2rem; }

.section-links::after {
  content: "";
  display: table;
  clear: both; }
