// colors
$color-primary-light: #8E4588;
$color-primary-dark: #6c3467; 

$color-secondary-light: #f1c480;
$color-secondary-dark: #f29b1b;

$color-tertiary-dark: #432040;

$color-almost-black: #110f10;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-almost-white: #F8F8F8;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;
