// colors
//$color-primary: #8A2BE2;
//$color-primary-light: #7E24A8;
//$color-primary-dark: #531053;
// color ideas
//number 6
// #dddfd4, #fae596, #3fb0ac, #173e43
//number 5
// #000000, #FA255E, #C39EA0, #F8E5E5
//number 1 light
// #c5dcb, #9fa8a3, #e3e0cf
// Similar to what I have but what about 
//bright yellow....


$color-primary:  #fae596;
$color-primary-light: #3fb0ac;
$color-primary-dark: #173e43;

$color-secondary-light: #dddfd4;
$color-secondary-dark: #fae596;

//$color-tertiary:
//$color-tertiary-light
$color-tertiary-dark: #d88c00;
/* trying something
$color-primary: #8A2BE2;
$color-primary-light: #575458;
$color-primary-dark: #45474a;

$color-secondary-light: #fcffa4;
$color-secondary-dark: #fff200;

//$color-tertiary:
//$color-tertiary-light
$color-tertiary-dark: #d88c00;
*/

$color-almost-black: #110f10;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;




//FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;