
.footer {
  /* Not sure why but this doesn't center the text */
  justify-content: center;
  background-image: linear-gradient(to top,rgba($color-primary-light, 0.8) ,rgba($color-primary-dark, 0.8) );
  color: $color-white;
  width: 100%;
  padding: 2rem;
  transition: transform 2s;

  &__text { 
    text-align: center;
   
  }
  &__icon {
    &:hover {
      transform: translateY(-0.5rem) scale(1.03);
    }
  }
}