.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom,rgba(#6c3467, 0.2), rgba(#6c3467, 0.2)), url(../img/pexels-nout-gons-248159.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 70vh , 0 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin-bottom: 8rem;

  &__title {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 700;
    animation: moveInLeft 2s ease-out;
    margin-top: 3rem;
    margin-bottom: 8rem;
    @media screen and (max-width: 600px) {
      font-size: 4rem;
      padding: 2rem;
    }
  }

  &__role {
    font-size: 4rem;
    animation: moveInRight 2s ease-out;

    @media screen and (max-width: 600px) {
      font-size: 3rem;
      padding: 2rem;
    }
  }

  &__interests {
    font-size: 1.5rem;
  }

  &__text-box {
    position: absolute;
    display: flex; 
    flex-direction: column;
    color: black;
    padding-right: 2rem;
    top: 82vh;
    right: 1rem;
    left: 50vw;
    font-style: italic;
    text-align: right;

    @media screen and (max-width: 600px) {
      padding-top: 2rem;
    }
  }
  &__quote {
    display: block;
    @media screen and (max-width: 600px) {
      font-size: 1.4rem;
    }
  }
  &__quote--sub {
    display: block;

  }
  &__quote--author {
    display: block;
    font-style: normal;
    font-weight: 700;
  }
}
