.project-card {
  position: relative;
  //background-image: linear-gradient(to left bottom, rgba($color-secondary-light, 0.2), rgba($color-secondary-dark, 0.5));
  //background-image: linear-gradient(to left bottom, rgba($color-secondary-light, 0.2), rgba($color-secondary-dark, 0.5));
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(2, 15rem);
  grid-template-rows: min-content 38rem min-content;
  justify-items: center;
  transition: transform .3s;
  //color: $color-tertiary-dark;
  color: #fff;
  font-weight: bold;
  padding: 2rem;
  
  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }
  &__title {
    grid-column: 1 / span 2;
    border-bottom: 1.5px solid $color-primary-dark;
    //color: $color-primary-dark;
    color: #fff;
    padding: 1rem;
  }
  &__content {
    width: 90%;
    margin-bottom: 5rem;
    padding: 1rem;
    grid-column: 1 / span 2;
  }
  &__link {
    display: block;
    //background-image: linear-gradient(to left bottom, rgba($color-secondary-light, 0.3), rgba($color-secondary-dark, 0.3));
    background-color: white;
    color: $color-primary-dark;
    border-radius: 3px;
    text-decoration: none;
    padding: 1rem;
    transition: transform .5s;
    width: 40%;
    position: absolute;
    bottom: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    
    &:hover {
      transform: translateY(-.5rem);
    }
    &--project {
      left: 2rem;
    }
    &--code {
      right: 2rem;
    } 
    &--notactive {
      background-image: linear-gradient(to left bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));;
      pointer-events: none;
    }
  }
}