.skill-card {
  background-color: $color-grey-light-1;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  text-align: center;
  transition: transform 1s;
  color: $color-grey-dark;
  border-radius: 3px;
  overflow: hidden;

  &__title {
    background-image: linear-gradient(to left bottom, rgba($color-secondary-light, 0.8), rgba($color-secondary-dark, 0.8));
    margin-bottom: 2rem;
    color: $color-primary-dark;
  }

  &__items {
    list-style: none;
    width: 80%;
    margin: 0 auto; //centers a block element inside another block element
    li  {
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #E0E0E0;    
    }
  }
  h3 {
    padding: .5rem;
  }
  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }
}