body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-white;
  padding: 3rem;
  a {
    color: $color-tertiary-dark;
  }
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  //background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  background-color: $color-primary-dark;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
  padding: 0 2rem;
  //border-bottom: 3px solid $color-primary-light;
  box-shadow: 2rem 1rem 3rem rgba($color-black, .3);
  border-radius: 3px;
}
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
}