.section-projects {
  text-align: center;
  border-bottom: 1px solid rgba($color-black, .2);
  padding-top: 4rem;
  padding-bottom: 6rem;

  &__content {
    background: linear-gradient(to bottom right,rgba($color-primary-light, 0.8) ,rgba($color-primary-dark, 1.0) );
    clip-path: polygon(0 30vh, 100% 0,  100% 100%, 0 100%);
  }

    &__cards {
      display: grid;
      grid-auto-flow: row;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(auto-fit, minmax(min-content, 30rem));
      grid-template-rows: repeat(2, min-content);
      justify-content: center;
      grid-gap: 2em;
      padding: 20em 10em 10em;
      //margin-top: 100px;
    }
}
.section-skills {
  text-align: center;
  border-bottom: 1px solid rgba($color-black, .2);
  padding-top: 4rem;
  padding-bottom: 6rem;

  &__content {
    background: linear-gradient(to bottom right,rgba($color-primary-light, 0.8) ,rgba($color-primary-dark, 1.0) ); }

  &__cards {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-gap: 4em;
    justify-content: center;
    align-content: flex-start;
    padding: 10rem;
     
  }
}
.section-education {
  color: $color-primary-dark;
  font-size: 1.7rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 2rem;
  p {
    text-align: right;
  }
  @include clearfix;
}

.section-links {
  
  a { 
    color: $color-white;
    text-decoration: none;
  }

  ul li {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  @include clearfix;
}